html {
   width: 100%;
   heigth: 100%;
}
body {
   width: 100%;
   heigth: 100%;
}

.btnImage:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

.addToCart:before{
     background-image : url(https://img.icons8.com/color/20/000000/add-shopping-cart.png);
}

.dropOfCart:before{
     background-image : url(https://img.icons8.com/color/20/000000/clear-shopping-cart.png);
}

